<div class="seat_div">

    <div id="seat-map-key">
        <div class="key-items">
            <div class="seat-key carib-plus" id="key-1"></div>
            <div>Caribbean Plus</div>
        </div>
        <div class="key-items">
            <div class="seat-key unavailable" id="key-2"></div>
            <div>Unavailable</div>
        </div>
        <div class="key-items">
            <div class="seat-key exit-row" id="key-3"><div>EXIT</div></div>
            <div>Exit Row</div>
        </div>
        <div class="key-items">
            <div class="seat-key seat-selected" id="key-4"><div><i class = 'material-icons'>close</i></div></div>
            <div>Selected</div>
        </div>
        <div class="key-items">
            <div class="seat-key other-pax" id="key-5"></div>
            <div>Other Passengers</div>
        </div>
    </div>
    <section class="caribbean-plus">
        <div style = 'margin-top: 5px' class="row">
            <span class = 'header-label' *ngFor = 'let col of caribbeanPlusCabin.columns'><b>{{col}}</b></span>
        </div>
        <div class="row" *ngFor = 'let row of caribbeanPlusCabin.rows'>
            <div
                *ngFor = 'let col of caribbeanPlusCabin.columns'
                [id] = 'row + col'
                class="seat caribbean-plus-seat"
                (click) = 'selectSeat($event.target)'>
                    <i class = 'material-icons' data-selected = 'false'>close</i>
            </div>
            <span style = 'position: absolute'><b>{{row}}</b></span>
        </div>
    </section>
</div>
