@import '../../variables_scss.scss';
#body{
    display: flex;
    justify-content: space-around;
}
#pax_seats{
    display: flex;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.seat_headers{
    display: flex;
    justify-content: space-between;
}

.seat_titles{
    display: flex;
    font-weight: 600;
}

mat-expansion-panel-header{
    height: auto !important;
}
#seat-map-key{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $cal-gray;
    border-radius: 20px;
}
.key-items{
    padding-right: 20px;
    display: inline-flex;
    align-items: center;
}
.carib-plus{
    background-color: white;
}
.unavailable{
    background-color: grey;
}
.exit-row{
    background-color: $cal-red;
    div{
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.seat-selected{
    background-color: green;
    div{
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.other-pax{
    background-color: #813F98;
}
// ====================================================================================

.header-label {
    width: 30px;
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.seat {
    border-radius: 4px;
    border: 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 4px;
}
.seat-key {
    border-radius: 4px;
    border: 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 4px;
}
.business-seat {
    border-color: $cal-pink;
    background-color: white;
};
.caribbean-plus-seat {
    border-color: $cal-purple;
    background-color: white;
}

.economy-seat {
    border-color: #888888;
    background-color: #888888;
}

.material-icons {
    font-size: 30px;
    // color: $cal-pink;
}

.material-icons[data-selected="false"] {
    display: none;
}

.material-icons[data-selected="true"] {
    display: block;
    background-color: green;
    color:white;
    cursor: pointer;
}

