<mat-toolbar class="the_toolbar1 mat-elevation-z6">
  <mat-toolbar-row class="flex-container">
    <span><img id="CAL_logo" src="../assets/img/Horizontal_Logo.png" alt="CAL Logo"></span>
    <span class="spacer"></span>
    <button class="flex-item" mat-button>FAQ</button>
    <button class="flex-item" mat-button>Contact Us</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="toolbar2">
      <ol class="cd-multi-steps text-bottom count">
        <li [ngClass]="{ 'current': path_object['/'] }"><a routerLink="/" routerLinkActive="active">Login</a>
        <li [ngClass]="{ 'current': path_object['/seat_select'] }"><a routerLink="/seat_select" routerLinkActive="active">Choose Seats</a></li>
        <li [ngClass]="{ 'current': path_object['/payment'] }"><a routerLink="/payment" routerLinkActive="active">Payment</a></li>
        <li [ngClass]="{ 'current': path_object['/completed'] }"><a routerLink="/completed" routerLinkActive="active">Completed</a></li>
      </ol> 
</mat-toolbar>
<router-outlet id="router-body"></router-outlet>
<mat-toolbar class="footer mat-elevation-z6">
  <mat-toolbar-row class="flex-container">
    <!-- <span class="spacer"></span> -->
    ©
    <script type="text/JavaScript">
        document.write(new Date().getFullYear());
    </script>
    Caribbean Airlines Limited
  </mat-toolbar-row>
</mat-toolbar>