@import '../../variables_scss.scss';
#body{
    display: flex;
    justify-content: space-around;
}
#pax_seats{
    display: flex;
}


.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.mat-row:focus{
  background-color: indigo;
}

.plane-icon{
    transform: rotate(90deg);
    padding: 10px;
}


.pax-table{
    width: 100%;
}
.mat-header-cell{
    font-weight: bold;
}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-header-row{
    background-color: $cal-purple;
    th{
      color: white;
    }
  }
  tr.mat-footer-row{
    font-weight: bold !important;
  }
  .seat{
    padding-right: 5px;
  }
  .mat-row.highlight{
    td{
      color: white;
    }
    
  }

.highlight{
  background: $cal-pink; 
}
mat-expansion-panel{
  margin-bottom: 50px;
}

#seat_cost{
  display: flex;
  justify-content: space-between;
  background-color: $cal-purple;
  color: white;
  padding: 10px;
}