<div class="seat_div">
  <h2>Choose Caribbean Plus Seats</h2>
  <mat-accordion>
    <mat-expansion-panel #expansionPanel *ngFor="let leg of journey; index as indexOfElement" (click)="selectLeg(leg, expansionPanel)">
    <div *ngIf="expansionPanel.expanded"></div>
      <mat-expansion-panel-header
        class="panel-header"
        expandedHeight="100px"
        collapsedHeight="100px"
      >
        <mat-panel-title>
          <mat-list role="list">
            <mat-list-item role="listitem">{{leg.origin}}
              <mat-icon class="plane-icon" aria-hidden="false" aria-label="Example home icon">local_airport</mat-icon>
              {{leg.destination}}
            </mat-list-item>
            <mat-list-item role="listitem" class=" city_names">Port-of-Spain to Fort Lauderdale</mat-list-item>
          </mat-list>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="leg.PAX_LIST" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> #</th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          <td mat-footer-cell *matFooterCellDef> Total</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> PASSENGER</th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.name }} </span>
            <br>
            <span>
              <span class="seat" *ngIf="element.seat!==''">{{ element.seat }}</span>
              <!-- <a class="seat_action" href="#">{{ element.seat !== ''? 'Change Seat':'Select Seat' }} </a> -->
            </span>
          </td>
          <td mat-footer-cell *matFooterCellDef> =></td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> COST</th>
          <td mat-cell *matCellDef="let element"> {{element.cost | currency}} </td>
          <td mat-footer-cell *matFooterCellDef [(ngModel)]="leg['total']"> {{leg['total'] | currency}} </td>
<!--          <td mat-footer-cell *matFooterCellDef [(ngModel)]="leg['total']"> {{getLegCost(leg.PAX_LIST) | currency}} </td>-->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="list-header"></tr>
        <tr mat-row
            *matRowDef="let row; let i = index; columns: displayedColumns;"
            (click)="selectPAX(row, i, indexOfElement)"
            [ngClass]="{'highlight': selectedRowIndex == row.id}"
            data-selected='false'>
        </tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <div id="seat_cost">
    <div>Total Seat Cost</div>
    <div>{{grandTotal | currency}}</div>
  </div>

</div>
