@import '../../variables_scss.scss';

#login-card{
    padding: 40px;
    margin-top: 10px;
    max-width: 50%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
}

#login-info{
    display: flex;
    justify-content: center;
}

#login-btns{
    display: flex;
    justify-content: center;
}
#login-btn{
    color: white;
    background-color: $cal-purple;
    border-radius: 20px;
    width: 100px;
    display: flex;
    justify-content: center;

}
