<div class="login-cardz">
    <div></div>
    <div id="login-info">
        <mat-card id="login-card">
            <h2 class="title">Welcome to Caribbean Offer Portal</h2>
            <p>
                <mat-form-field appearance="">
                    <mat-label>Last Name:</mat-label>
                    <input [(ngModel)]="lastName" matInput placeholder="Last Name" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="">
                    <mat-label>Booking Reference or E-Ticket Number:</mat-label>
                    <input [(ngModel)]="login.record_locator" matInput placeholder="Booking Reference or E-Ticket Number:" required>
                </mat-form-field>
            </p>
            <div id="login-btns">
                <button mat-raised-button id="login-btn" (click)="miles_login()">Login</button>
            </div>
            <div class="login-bottom">
            </div>

        </mat-card>
    </div>

    <div></div>
</div>
