@import '../../variables_scss.scss';
#payment-body{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}
.payment-div{
    display: flex;
    min-width: 40%;
    justify-content: flex-start;
    flex-direction: column;
}
.active-panel{
    background-color: $cal-purple;
    
}
mat-expansion-panel{
  // height: 100px !important;
}
mat-expansion-panel-header{
  height: 100px !important;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: $cal-purple;
}
#product_list{
    justify-content: flex-start;
}
mat-accordion{
    width: 100%;
}
mat-panel-description{
    flex-direction: row-reverse;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: $cal-gray;
}

.options_icons {
    align-items: center;
    display: flex;
}
#tzandczs{
    border: 0.5px solid #595959;
}
#payment-actions{
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.payment-buttons{
  width: 200px;
  border-radius: 20px;
  margin: 5px;
  justify-content: end;
  
}

.back{
  background-color: gray;
}
.pay{
  background-color: $cal-purple;
}
th.mat-header-cell{
  font-weight: bold;
}
tr.mat-footer-row {
  font-weight: bold;
}

// .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: $cal-pink !important;
// }