<div>
    <div id="payment-body">
      <div class="payment-div">
        <h2>Choose Payment Method</h2>
        <mat-accordion>
          <mat-expansion-panel (opened)="cc_panelOpenState = true"
                              (closed)="cc_panelOpenState = false"
                              >
            <mat-expansion-panel-header [ngClass]="{'active-panel': cc_panelOpenState === true}" expandedHeight="100px" collapsedHeight="100px">
              <mat-panel-title>

                <h3>Credit Card</h3>
              </mat-panel-title>
              <mat-panel-description>
                <div class="col-6 options_icons">
                  <img src="https://newwebsiteblobs.blob.core.windows.net/payments/visa.png" class="card_img">
                  <img src="https://newwebsiteblobs.blob.core.windows.net/payments/mastercard.png" class="card_img">
                  <img src="https://newwebsiteblobs.blob.core.windows.net/payments/americanexpress.png" class="card_img">
                  <img src="https://newwebsiteblobs.blob.core.windows.net/payments/uatp.png" class="card_img">
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="form-container">
              <h3>Card details</h3>
              <mat-form-field appearance="fill">
                <mat-label>Card Type</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Card Number</mat-label>
                <input matInput type="number" min="1">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Name on card</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Expiry Date (mm/yyyy)</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Card Security</mat-label>
                <input matInput type="number" min="1" max="999">
              </mat-form-field>
            </div>
            <div class="form-container">
              <h3>Billing Address</h3>
              <mat-form-field appearance="fill">
                <mat-label>Address line 1</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Address line 2</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Zip code</mat-label>
                <input matInput>
              </mat-form-field>
              <!-- <h4>Basic mat-select</h4> -->
              <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <mat-select>
                  <mat-option *ngFor="let country of countries" [value]="country.code">
                    {{country.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-label>Choose one</mat-label>
                <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
                  <mat-option>Clear</mat-option>
                  <mat-option value="valid">Valid option</mat-option>
                  <mat-option value="invalid">Invalid option</mat-option>
                </mat-select>
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">Your selection is invalid</mat-error>
              </mat-form-field> -->
            </div>
          </mat-expansion-panel>
          <!--<mat-expansion-panel  (opened)="pp_panelOpenState = true"
                                (closed)="pp_panelOpenState = false">
            <mat-expansion-panel-header [ngClass]="{'active-panel': pp_panelOpenState === true}" expandedHeight="100px" collapsedHeight="100px">
            <mat-panel-title>
              <h3>PayPal</h3>
            </mat-panel-title>
            <mat-panel-description>
              <div class="col-4 options_icons">
                <img src="https://newwebsiteblobs.blob.core.windows.net/payments/paypal.png"
                    class="card_img">
              </div>
            </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>-->
        </mat-accordion>
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
<!--        <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>-->
<!--        <script>paypal.Buttons().render('body');</script>-->
        <br>
        <mat-list role="list" id="tzandczs">
          <mat-list-item>TERMS AND CONDITIONS</mat-list-item>
          <mat-list-item><mat-checkbox class="tzandczs_cb" color="primary">Yes, I have read and accept the terms and conditions.</mat-checkbox></mat-list-item>
        </mat-list>
    </div>
    <div class="payment-div product_list">
      <h2>Your Products</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>


    </div>

  </div>
  <div id="payment-actions">
    <button class="payment-buttons back" mat-raised-button color="warn">Back</button>
    <button class="payment-buttons pay" mat-raised-button color="primary">Make Payment</button>
  </div>

</div>


