@import '../../variables_scss.scss';
#body{
    display: flex;
    justify-content: space-around;
}
#pax_seats{
    display: flex;
}

pax-select-per-leg{
    min-width: 30%;
    max-width: 40%;
}
seat-map{
    min-width: 30%;
    max-width: 40%;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
.seat_headers{
    display: flex;
    justify-content: space-between;
}

.seat_titles{
    display: flex;
    font-weight: 600;
}

mat-expansion-panel-header{
    height: auto !important;
}
// ====================================================================================

.header-label {
    width: 30px;
    text-align: center;
}


.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.seat {
    border-radius: 4px;
    border: 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 4px;
}

.business-seat {
    border-color: $cal-pink;
    background-color: white;
};

.caribbean-plus-seat {
    border-color: $cal-purple;
    background-color: white;
}

.economy-seat {
    border-color: #888888;
    background-color: #888888;
}

.material-icons {
    font-size: 20px;
    color: white;
}

.material-icons[data-selected="false"] {
    display: none;
}

.material-icons[data-selected="true"] {
    display: block;
}
