/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables_scss.scss';
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,600,700);
html, body { 
    
    height: 100%; 
}
*{
    font-family: 'Poppins', sans-serif;
}
body { 
    
    margin: 0;
}
.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.the_toolbar1{
    z-index: 2;
}

.mat-form-field {
    display: block !important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

pax-select-per-leg .mat-expansion-panel-body{
    padding: 0 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $cal-pink;
}