<nav>
    <ol class="cd-breadcrumb">
        <li><a href="#0">Login</a></li>
        <li><a href="#0">Choose Seats</a></li>
        <li><a href="#0">Payment</a></li>
        <li class="current"><em>Project</em></li>
    </ol>
</nav>